.overlayClass {
    z-index: 1001;
    position: absolute;
    /*top: 978px;*/
    bottom: 1px;
    left: 0;
    background-color: white;
    width: 1360px;
    height: 26px;
    float: right;
}

.margin-top-50{
      margin-top: 50px;
}